.EventContent {
  display: flex;

  & > div:first-child {
    width: 70%;
  }

  & > ul {
    padding-left: 15px;
  }
}

@media screen and (max-width: 700px) {
  .EventContent {
    flex-direction: column;

    & > div:first-child {
      width: 100%;
    }
  }


}
