:root {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100vw;
}

#root > div {
  height: 100vh;
  padding: 1rem
}

a {
  /* https://coolors.co/213547-93a8ac-d7ceb2-a51f12-dbd56e */
  font-weight: 500;
  color: #213547;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  font-size: medium;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

button {
  /* background-color: #98FF98; */
  background-color: #BCF0C0;
  /* color: #FFD700; */
  border: thin solid transparent;
  padding: 0.6em 1.2em;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #001F3F;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) { */
  :root {
    /* color: #213547; */
    color: #001F3F;
    /* background-color: #D5BF86; */
    /* background-color: #F1F0CC; */
    background-color: #ECF0F1;
  }
  /* #root > div {
    background-color: #ffffff;
  } */
  /* button { */
    /* background-color: #f9f9f9; */
    /* background-color: #efefef; */
    /* https://colordesigner.io/ */
    /* background-color: #e3ebf2; */
  /* } */
/* } */
