.EventSummary {
  background-color: #fff;
  font-size: x-large;
  margin: 10px 0;
  margin-right: 10px;
  padding: 20px;
  border: thin solid #ccc;
  transition: border 0.5s;
}

.EventSummary:hover {
  cursor: pointer;
  border: thin solid #40698C;
  transition: all 0.5s;
}

.EventSummary .Details {
  font-size: medium;
}
