.Nav {
  border-bottom: thin solid #213547;
  font-size: 1.5em;
  padding-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & > a:hover {
    text-decoration: none;
  }

  & .Profile {
    display: flex;
    align-items: center;

    & img {
      border-radius: 15px;
      max-height: 30px;
    }

    & span {
      margin-left: 0.5rem;
    }
  }
}
