.Nav {
  border-bottom: thin solid #213547;
  font-size: 1.5em;
  padding-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & > a {
    text-decoration: none;
  }
}
